.select-input{
    position: relative;
}

.invalid-tooltip {
    margin-top: -0.8rem !important;
  }

.form-align{
   display: flex;
   width: 50%; 
}

.formwrapper{
    display: flex;
    justify-content: center;
    margin-top: 75px;
}

#exampleSearch, #exampleSelect{
    width: 250px;
    text-align: center;
    margin: 0 10px;
}