

.main-login{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("~/src/img/calum-lewis-vA1L1jRTM70-unsplash.jpg");
    height: 100vh;
    background-size: cover;
    text-align: center;
    color: white;
    min-height: 320px;
min-width: 320px;
}