.login-section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 600px;
    border: solid red;
    border-radius: 50%;
    background-color: rgba(1, 145, 151, .5);
}