.main{
    background: url('../../img/nathan-dumlao-bRdRUUtbxO0-unsplash.jpg');
    height: 100vh;
    background-size: cover;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
}